.mane-section{
    display: flex;
    margin: auto;
    padding-top: 20px;
    justify-content: space-between;
   
}
.bg-black{
  background-color: black;
  color: #FFF;
  padding: 20px 10%;
}
.bg-white{
  background-color: white;
  color: black;
}
.mane-section h1{
    font-size: 60px;
    font-weight: 200;
    padding-top: 20%;
}
.mane-section .mane-section-frist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


}
.mane-section h1 span{
  font-weight: 600;
}
.mane-section h1 p {
  font-family: 'Rampart One', sans-serif;
}
.mane-section .banner-img{
    width: 500px;
    height: auto;
    border-bottom: 2px solid black;
        border-radius: 20px;

}
.botton-icons {
  justify-content: flex-start;
  width: 100%;
}
.botton-icons a svg{
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  width: 40px;
  height: auto;

}
.botton-icons-dark{
  background-color: black;
  color: white;
  border-radius: 10px;
}
.d-flex {
  display: flex;
  gap: 20px;
}
.botton-icons a svg:hover{
  background-color: black;
 color: white;
}

.main-skills-section{
  padding-top: 50px;
}
.main-skills-section h3{
  font-size: 60px;
  text-align: center;
  padding-bottom: 30px;
}
.main-skills-section .main-skills-icons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10%;

}
.main-skills-section .main-skills-icons span{
  font-size: 50px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;

}
.main-skills-icons span:hover ,.main-skills-icons-link{
  background-color: black;
  color: white;
}
.main-skills-section .main-skills-icons span b{
  font-size: 20px;
  font-weight: 400;

}
  
.main-express-section{
  margin-top: 50px;
  padding-bottom: 50px;
  font-size: 60px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px 0px;
}
.experience-details-heading{
  font-size: 18px;
}
.experience-sub-heading{
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  font-size: 23px;
}
.experience-details-heading{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.experience-details{
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}
.company-details{
  padding-top: 18px;
  font-size: 18px;
  text-align: left;
}
.experience-sub-heading:hover {
  color: #fdbc16;
  text-decoration: underline;
}
.experience-details:nth-child(odd){
  background-color: #272727;
  border: 1px solid #272727;
}
.main-projects-section{
  margin-top: 50px;
  font-size: 60px;
  text-align: center;
}
.main-projects-section .projects-left{
  display: flex;
  gap: 40px;
  text-align: left;
  padding-top: 30px;
  
}
.main-projects-section .projects-left:nth-child(odd){
flex-direction: row-reverse;

}
.main-projects-section .project-img{
  width: 600px;
  height: 300px;
  border-radius: 20px;
  
}
.main-projects-section   h4{
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  
}
.main-projects-section   p{
  font-size: 40px;
  font-weight: 700;
}
.main-projects-section span{
  display: block;
  font-size: 14px;
  line-height:20px;
  color: gray;

}
.w-100{
  width: 100%;
  margin: auto;
}
.projects-left .md-opne-new{
  padding-top: 10px;
  font-size: 30px;
}

.contact-us-section{
background-color: black;
color: white;
padding-bottom: 50px;
}

.contact-us-section h4{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  padding: 50px 0px;
}
.contact-us-section .contact-us-form-main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us-section .from-contect-us{
  width: 36%;
  background-color: #FFF;
  height: 484px;
  border-radius: 20px;
  margin: auto;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: center;
  
}
.contact-us-section .from-contect-us input,textarea{
  outline: none;
  height: 30px;
  width: 50%;
  border-bottom: 2px solid gray;
  color: black;
  padding-left: 10px;
 
}
.contact-us-section .from-contect-us input:focus,textarea:focus{
  border-bottom: 2px solid rgb(12, 1, 1);
}

.contact-us-section .sub-btn{
  background-color: black;
  color: #FFF;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  
}
.contact-us-section .from-contect-us p{
  color: black;
  font-weight: 700;
  font-size: 30px;
  border-bottom: 2px solid;

}
.contact-us-section .map-contect-us{
  height: 484px;
  background: #FFF;
  border-radius: 20px;
  display: flex;
  align-items: center;


}
.contact-us-section .map-contect-us img{
  border-radius: 20px;
  width: 468px;
}
.thank-you-msg{
  background-color: greenyellow;
  padding: 10px 58px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 21px;
  font-weight: 700;
}
.thank-you-msg svg{
  font-size: 24px;
  border: 2px solid;
  border-radius: 22px;
 
}

@media only screen and (min-width: 300px) and (max-width: 519px) {
   .mane-section{
    flex-direction: column;
   }
   .mane-section h1{
    font-size: 35px;
    padding: 10px;
  }

  .mane-section .mane-section-frist{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
  }
  .botton-icons {
    justify-content: center;
  }
  .main-skills-section .main-skills-icons{
    grid-template-columns: 1fr 1fr;
  }
  .main-skills-section h3{
    font-size: 40px;
  }
  .main-express-section{
    margin-top: 85px;
  }
  .main-express-section h3{
      font-size: 40px;
  }
  .experience-sub-heading{
    flex-direction: column;
  }
  .experience-details-heading{
    flex-direction: column;
  }
  .experience-details-heading p{
    text-align: left;
  }
  .main-projects-section h3{
    font-size: 40px;
  }
  .main-projects-section .projects-left{
    flex-direction: column-reverse;
  }
  .main-projects-section .project-img {
    width: 600px;
      height: auto;
    border-radius: 20px;
  }
  .main-projects-section .projects-left:nth-child(odd){
    flex-direction: column-reverse;
  }
  .main-projects-section h4{
    font-size: 50px;
  }
  .main-projects-section p{
    font-size: 34px;
  }
  .contact-us-section h4{
    font-size: 30px;
  }
  .contact-us-section .from-contect-us{
    width: 100%;
    margin: 0px;
  }
  .contact-us-section .map-contect-us{
    display: none;
  }
}

  
  @media only screen and (min-width: 520px) and (max-width: 768px) {
    .mane-section{
        flex-direction: column;
        align-items: center;
       }
       .mane-section h1{
        font-size: 60px;
        padding: 0px;
      }
      .mane-section .mane-section-frist{
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 10px;
      }
      .botton-icons {
        justify-content: center;
      }
      .botton-icons {
        justify-content: center;
      }
      .main-skills-section .main-skills-icons{
        grid-template-columns: 1fr 1fr;
      }
      .main-skills-section h3{
        font-size: 40px;
      }
      .main-express-section{
        margin-top: 85px;
      }
      .main-express-section h3{
          font-size: 40px;
      }
      .experience-sub-heading{
        flex-direction: column;
      }
      .experience-details-heading{
        flex-direction: column;
      }
      .experience-details-heading p{
        text-align: left;
      }
      .main-projects-section h3{
        font-size: 40px;
      }
      .main-projects-section .projects-left{
        flex-direction: column-reverse;
      }
      .main-projects-section .project-img {
        width: 600px;
          height: auto;
        border-radius: 20px;
      }
      .main-projects-section .projects-left:nth-child(odd){
        flex-direction: column-reverse;
      }
      .main-projects-section h4{
        font-size: 50px;
      }
      .main-projects-section p{
        font-size: 34px;
      }
      .contact-us-section h4{
        font-size: 30px;
      }
      .contact-us-section .from-contect-us{
        width: 100%;
        margin: 0px;
      }
      .contact-us-section .map-contect-us{
        display: none;
      }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mane-section h1{
      font-size: 50px;
      padding: 0px;
    }
    .main-skills-section h3{
      font-size: 50px;
    }
    .main-skills-section .main-skills-icons{
      grid-template-columns: 1fr 1fr 1fr;
    }
    .main-projects-section{
      font-size: 50px;
    }
    .main-projects-section h4{
      font-size: 50px;
    }
    .contact-us-section .from-contect-us{
      width: 100%;
    }
  }